
@using EMS.Model
@model List<UserInfo>
@{
    ViewBag.Title = "Home Page";
}
<style>
    th, td {
        text-align: center;
    }
</style>
<div>
    <div class="btn-group">
        @Html.ActionLink("新增", "Add", null, new { @class = "btn btn-primary" })
    </div>
    <table border="1" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>部门</th>
            <th>操作</th>
        </tr>
        @foreach (UserInfo item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@(item.Department==null?"":item.Department.Name)</td>
                <td width="120">
                    @Html.ActionLink("修改", "Edit", new { id = item.Id })
                    @Html.ActionLink("详情", "Detail", new { id = item.Id })
                    @*@Ajax.ActionLink("删除", "Delete", new { id = item.Id }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "reload" })*@
                    <a href="javascript:void(0);" onclick="removeFn(@item.Id)">删除</a>
                </td>
            </tr>
        }
    </table>
</div>
<script>
    function removeFn(id) {
        $.ajax({
            url: "/User/Delete",
            type: "POST",
            data: { Id: id },
            success: function () {
                location.reload()
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    //function reload() {
    //    location.reload();
    //}

</script>